td {
  text-align: center;
  text-wrap: auto;
}

table {
  font-size: 13px;
}
 
.jexcel > thead > tr > td:nth-child(2) {
  background-color: #d9ff66;  
}
.jexcel > thead > tr > td:nth-child(3) {
  background-color: #d9ff66;  
}
.jexcel > thead > tr > td:nth-child(4) {
  background-color: #d9ff66;  
}
.jexcel > thead > tr > td:nth-child(5) {
  background-color: #d9ff66;  
}
.jexcel > thead > tr > td:nth-child(6) {
  background-color: #d9ff66;  
}
